.App {
  text-align: center;
  /*background-color: #f4f5f7;*/
  /*max-height: 100vh;*/
  padding-left: 144px;
  padding-right: 144px;
}

.profile-pic {
  border-radius: 275px;
}

#twittername {
  font-weight: 700;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  margin-bottom: 76px;
}

#twitter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

#btn_zuri {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

#books {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

#books__python {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

#pitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

#book__design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 12px 0 12px 0;
  /* Gray/200 */
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26.25px;
  padding: 30px;
}

/*.icons{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 24px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  margin: 64px;

  
  background: #FFFFFF;
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}*/
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 48px 0px;
  gap: 64px;
}
.zuri {
  height: 100px;
}

.text {
  font-weight: 500;
  font-family: "Inter";
  font-size: 30px;
  font-style: bold;
  position: absolute;
  left: 240px;
}

.intern {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
   /* Inside auto layout */
  
  /* Gray/500 */
  color: #667085;
 
}


